<input #search (keyup.enter)="doSearch(search.value)" (blur)="doSearch(search.value);" value="unindexed"/>
<button (click)="doSearch(search.value)">Go</button>
<div *ngIf="results">
  <div>
    Searched in {{results.took}} ms
  </div>
  <div>
    Total hits {{results.hits.total}}
  </div>
  <div class="container-fluid">
    <div *ngFor="let hit of results.hits.hits">
      <div class="row justify-content-md-left">
        <div class="col-1">
          <button (click)="show(hit)">Details</button>
        </div>
        <div class="col-3">{{hit._source.fileId}}</div>
        <div class="col-2">
          {{hit._source.fields['created']}}
        </div>
        <tag-input [(ngModel)]="hit._source.tags" [disable]="true" [theme]="'bootstrap3-info'"></tag-input>
      </div>
      <div class="row justify-content-md-left" *ngIf="hit.show">
        <div class="col-1">
          <ul>
            <li>
              <a [attr.href]='url(hit)'>Download</a>
            </li>
            <li>
              <button (click)="updateDocument(hit)">Update</button>
            </li>
          </ul>
        </div>
        <tag-input class="col-4" [(ngModel)]="hit._source.tags" [separatorKeyCodes]="[32, 188]"
                   [theme]="'bootstrap3-info'"></tag-input>
        <div class="col-5">
          <ul>
            <li *ngFor="let key of hit._source.fields | keys">
              {{key}}: {{value(hit, key)}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <app-doc-results [hits]="results"></app-doc-results>
  </div>
</div>
